.title-memb {
    text-align: center;
}
.form-field {
    margin-top: 2%;
}
.button-div {
    text-align: center;
    margin-top: 2%
}
.button-aceptar {
    background-color: #252839;
    color: white;   
   }

#membresia {
    background-color: white;
    padding-bottom: 50px;
}