.title-memb {
    text-align: center;
}
.form-field {
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
}
.button-div {
    text-align: center;
    margin-top: 2%
}
.button-aceptar {
    background-color: #252839;
    color: white;   
    font-family: 'Montserrat', sans-serif;
   }

#membresia {
    background-color: white;
    padding-bottom: 50px;
}
.money-field{
    width: 90%;
    margin-left: 2%;
}