<mat-form-field class="expanded filter-custom">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table table-custom">

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="RutinaId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-title"> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.Rutina.RutinaId}} </td>
  </ng-container>

  <ng-container matColumnDef="Nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-title"> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.Rutina.Nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="Tipo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-title"> Tipo </th>
    <td mat-cell *matCellDef="let element"> {{element.Rutina.Tipo}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-title"> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <button mat-mini-fab class="mr-3 btn-add">
        <i class="material-icons" (click)="openDialogModification(element,false)">visibility</i>
      </button>
      <button mat-mini-fab color="primary" class="mr-3">
        <i class="material-icons" (click)="openDialogModification(element,true)">edit</i>
      </button>
      <button mat-mini-fab color="warn">
        <i class="material-icons" (click)="openDialogBaja(element.Rutina.RutinaId)">delete</i>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="add">
    <th mat-header-cell *matHeaderCellDef class="column-add">
      <button mat-mini-fab color="primary" (click)="openDialogAlta()">
        <i class="material-icons">add</i>
      </button>
    </th>
    <td mat-cell *matCellDef="let element">
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="paginator-custom"></mat-paginator>
