table{
    width: 100%;
}

.mat-column-select {
    overflow: initial;
  }

.expanded{
    width: 50%;
}

.btn-add{
    background-color: #f2b632;
}
.table-custom { 
    font-family: 'Montserrat', sans-serif;
}
.filter-custom {
    font-family: 'Montserrat', sans-serif;
}
.column-title {
    font-size: 15px;
}
.paginator-custom {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.pdf {
    border-radius: 15px;
    width: 80px;
    height: 30px;
    background-color: #d80303;
    border-color: white;
    color: white;
    font-size: 15px;
    letter-spacing: 0.1em;
    border: none;
    font-family: monospace;
    font-weight: 600;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    margin-left: 100px;
}
h1 {
    text-align: center;
    margin-bottom: 2%;
}