@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #677077;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
.green {
    color: green;
}
.red {
    color: red;
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
    font-family: 'Montserrat', sans-serif;
}
.mat-table {
    font-family: 'Montserrat', sans-serif;
}
.mat-cell {
    font-family: 'Montserrat', sans-serif;
}
.font-edit {
    font-family: 'Montserrat', sans-serif;
}