@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #677077;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
.green {
    color: green;
}
.red {
    color: red;
}