<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">

    <ng-template matStepLabel>Cliente</ng-template>

    <app-abm-cliente (cliente)="onSelectCliente($event)"></app-abm-cliente>

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Dieta</ng-template>
    <app-abm-dieta [onlyCheck]="true" (dieta)="onSelectDieta($event)"></app-abm-dieta>
  </mat-step>

  <mat-step>
    <form #f="ngForm" (ngSubmit)="onSubmitFormFechas(f)" novalidate>

      <ng-template matStepLabel>Periodo</ng-template>

      <div class="col-lg-12 div-form">
        <mat-form-field class="offset-lg-3 col-lg-3">
          <input matInput [matDatepicker]="fechaInicio" placeholder="Fecha inicio" ngModel name="fechaInicio" required>
          <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
          <mat-datepicker #fechaInicio></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="ml-3 col-lg-3">
          <input matInput [matDatepicker]="fechaFin" placeholder="Fecha fin" ngModel name="fechaFin" required>
          <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
          <mat-datepicker #fechaFin></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="offset-5 col-lg-7 mt-5 div-form">
        <button class="mr-3" mat-raised-button matStepperPrevious>Atras</button>
        <button mat-raised-button matStepperNext type="submit" color="primary">Finalizar</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
