<h1>Listado de clientes</h1>
<div class="row">
  <div class="col-1 offset-11">
    <button class="pdf" (click)="print()">PDF</button>
  </div>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table table-custom">

  <ng-container matColumnDef="Nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-title"> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="Apellido">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-title"> Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.Apellido}} </td>
  </ng-container>

  <ng-container matColumnDef="Dni">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-title"> DNI </th>
    <td mat-cell *matCellDef="let element">
      {{element.Dni}}
    </td>
  </ng-container>

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef class="column-title"></th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="check">
        <button class="ml-5" mat-mini-fab color="warn">
          <i class="material-icons" (click)="selectCliente(element)">check</i>
        </button>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="add">
    <th mat-header-cell *matHeaderCellDef class="column-add">
      <ng-container *ngIf="!check">
        <button *ngIf="!check" mat-mini-fab color="primary">
          <i class="material-icons" (click)="add()">add</i>
        </button>
      </ng-container>
    </th>
    <td mat-cell *matCellDef="let element">
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="paginator-custom"></mat-paginator>
