.form-container {
    display: flex;
    flex-direction: column;
}
  
.form-container > * {
    width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
    margin-right: 30px;
  }

  mat-radio-button{
    margin-right: 30px;
  }