.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    border-radius: 1px;
}

.dropdown:hover .dropdown-menu {
    max-height: 215px;
    opacity: 5;
}
.header-icon {
    color: white;
    width: 10px;
    height: 10px;
    margin-right: 18px;
    font-size: 18px;
}
.header-item {
    margin-right: 25px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
.header-title {
    font-size: 20px;
}
.custom-header {
    background-color: #252839 !important;
    border-radius: 1px !important;
    font-family: 'Do Hyeon', sans-serif !important;
}