<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-header">
  <a class="navbar-brand header-title" href="/default">
    <i class="fas fa-dumbbell header-icon"></i>GymWare</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item header-item">
        <a class="nav-link" href="#">Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown header-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Administración
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Empleados</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Clientes</a>
        </div>
      </li>
      <li class="nav-item dropdown header-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Gimnasio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/default/ejercicios">Ejercicios</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/default/rutinas">Rutinas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Productos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Proveedores</a>
        </div>
      </li>
      <li class="nav-item dropdown header-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Nutrición
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Comidas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Dietas</a>
        </div>
      </li>
    </ul>
  </div>
</nav>